* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-container {
	width: 100vw;
	height: 100vh;
	background-color: black;
	display: flex;
	align-items: center;
	padding: 4rem;
	font-family: 'orbitron', sans-serif;
	font-size: 6rem;
	color: azure;
}

.clock-container {
	width: 50%;
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid azure;
	box-shadow: 0 0 16px orange;
}

.counter-container {
	width: 25%;
	display: flex;
	justify-content: center;
}